mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+b.section-title
				h1 Home page

			+e.sliderWrap
				+e.slider--js.swiper
					.swiper-wrapper#testList
						mixin slide
							.swiper-slide 
								+e.slide
									+e.imgWrap 
										img(src="https://cdn2.thedogapi.com/images/BJa4kxc4X.jpg" alt="" loading="lazy")
									+e.txt Lorem.
									+e.title Lorem ipsum dolor sit amet.
						//- -for (var i = 0; i < 8; i++)
						//- 	+slide
				+arrow
				.swiper-pagination.swiper-pagination-clickable
	// end headerBlock