extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'UCAD'
	title= title
block pagecontent
	+header()
		+top-nav()
	+sCatalog()
	+footer()


